.step-3 {
  margin: 0 15px 20px 30px;
}

.step-3 h2 {
  margin-top: 70px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 120%;
  color: #1F4E84;
}

.step-3 p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: #103146;
}

.decisions {
  width: 100%;
  height: 100%;
  background: #FCF7E9;
  border-radius: 90px 90px 0px 0px;
}

.question-list {
  padding-top: 50px;
  margin-top: 35px;
}

.block {
  height: 150px;
  width: 80%;
  border: 1px solid #10314662;
  margin: 30px 30px;
  padding: 15px 15px;
  border-radius: 5%;
}

.block p {
  font-family: 'Rubik';
  font-style: normal;
}