.step-3 {
  margin: 0 15px 20px 30px;
}

.step-3 h2 {
  margin-top: 16px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 120%;
  color: #1F4E84;
}

.step-3 p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: #103146;
}

.decisions {
  width: 100%;
  // height: 100%;
  background: #FCF7E9;
  border-radius: 90px 90px 0px 0px;
}

.question-list {
  padding-top: 50px;
  margin-top: 35px;
}

.block {
  height: 20%;
  width: 80%;
  // border: 1px solid #10314662;
  margin: 30px 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(202, 202, 202);
  // background-color: rgba(255, 255, 255, 0.583);
}

.block p {
  font-family: 'Rubik';
  font-style: normal;
}

.next-button {
  margin-top: 30px;
  width: 92px;
  height: 47px;
  background: rgba(245, 186, 72, 0.8);
  border-radius: 10px;
  text-align: center;
  padding: 12px 24px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 120%;
  text-decoration: none;
  color: black;
  border: none;
}

.checkboxes {
  // display: flex;
  // justify-content: space-between;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  border-radius: 50rem;
  padding: 12px 24px;
  background: #85b4dd7d;
  color: black;
  border: 1px solid #85B4DD;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background: #85B4DD;
  color: black;
}
