body {
  width: 100%;
  height: 844px;
}

.step-info .step-choices {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 120%;
  color: #1F4E84;
}

.step-info p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: #103146;
}

.add-decision {
  width: 100%;
  height: 80vh;
  background: #FCF7E9;
  border-radius: 90px 90px 0px 0px;
  
}

.step-info {
  margin: 77px 31px 0 34px;
}

.decision {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding-top: 70px;
}

.decision p {
  width: 90%;
  height: 10%;
  text-align: center;
  border: 1px solid #10314662;
  background-color: rgba(255, 255, 255, 0.583);
  padding: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
}

.decision p a {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.decision p a:hover {
  color: blue;
}
