.login-form {
  width: 100%;
  height: 80vh;
  background: #FCF7E9;
  border-radius: 90px 90px 0px 0px;
  
}

.login {
  padding-top: 70px;
  margin: 0 30px;
}

.login-text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 120%;
  color: #1F4E84;
  margin: 50px 30px;
}
