.decision-text-block {
  margin: 0 15px 20px 30px;
}

.decision-title {
  margin-top: 16px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 120%;
  color: #1F4E84;
}


.decision-text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: #103146;
}

.create-decision {
  width: 100%;
  height: 80vh;
  background: #FCF7E9;
  border-radius: 90px 90px 0px 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.create-form {
  width: 80%;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.583);
}

.simple_form {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
