.step-options {
  margin: 0 15px 20px 30px;
}

.step-options h2 {
  margin-top: 16px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 120%;
  color: #1F4E84;
}

.step-options p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: #103146;
}

.option {
  width: 100%;
  height: 100%;
  background: #FCF7E9;
  border-radius: 90px 90px 0px 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.create-option {
  margin-top: 70px;
  width: 90%;
}

.delete-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-option li {
  display: block;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
}

.create-option li a {
  text-decoration: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
}

.style-card {
  height: 45px;
  width: 100%;
  border-radius: 5px;
  font-size: 19px;
  text-align: center;
  background: rgba(245, 187, 72, 0.254);
  padding: 10px;
  margin-bottom: 30px;
  // border: 1px solid rgba(245, 187, 72, 0.429);
}

.add-button {
  width: 100%;
  height: 47px;
  padding: 12px 24px;
  border-radius: 10px;
  font-family: 'Rubik';
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 50px;
  text-align: center;
}

#option_option_name {
  background-color: rgba(255, 255, 255, 0.583);
}

.form-label {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

// .options {
//   width: 90%;
//   height: 10%;
//   text-align: center;
//   border: 1px solid #10314662;
//   background-color: rgba(255, 255, 255, 0.583);
//   padding: 10px;
//   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
// }