<div class="best-decision">
<h1>Result</h1>
<p>The best option<br>based on your input. </p>
</div>

<div class="decide">
  <%# <div class="tom-says"> %>
    <p class="tom-says"> TOM says:</p>
    <p class="party-face">🥳</p>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_wys2rrr6.json"  background="transparent"  speed="0.50"  style="width: 100%; height: 400px; top: -180px;"  autoplay class="confetti"></lottie-player>
    <p class="winner"><%= @winner.option_name %></p>
  <%# </div> %>

  <div class="mytable p-3">
    <% @options.each_with_index do | option, index | %>
      <div class="table-row">
        <h3 class="table-item"><%= index + 1 %></h3>
        <h3 class="table-item"><%= option.option_name %></h3>
        <h3 class="table-item"></h3>
        <h3 class="table-item"><%= ((option.score / @allscores) * 100).round(1) %>%</h3>
      </div>
      <%# pros and cons were here %>
    <% end %>
  </div>

  <%# <button type="button" class="btn btn-outline-success">Congratulations</button> %>
</div>
