  <div class="step-info">
    <p class="step-choices">
    Here are decisions you've already created! <br></p>
    <p>Click on one to see more.</p>
  </div>
    <div class="add-decision">
  <div class="decision">
    <% @decisions.reverse_each do |decision| %>
    <p><%= link_to decision.decision_name, decision_path(decision) %></p>
    <% end %>
  </div>
  </div>
</div>
