  <div class="step-info">
    <p class="step-choices">
    Here are decisions you've already created! <br></p>
    <p>Click on one to see more.</p>
  </div>
    <div class="add-decision">
  <div class="decision" onclick="this.querySelector('a').click(); return true;">
    <% @decisions.reverse_each do |decision| %>
    <p><%= link_to decision.decision_name, decide_decision_path(decision) %></p>
    <% end %>
  </div>
  </div>
</div>

<%# decide_decision_path(@decision)
http://localhost:3000/decisions/18/decide %>
