<% @decisions.reverse_each do |decision| %>
<p><%= link_to decision.decision_name, decision_path(decision) %></p>
<% end %>

<%= link_to "Create new Decision", new_decision_path, class: 'btn btn-primary' %>
