<div class="index-page">
  <div class="step-info">
    <p class="step-choices">Step 1
    <br>Create new decision</p>
    <p>Here you can also review past decisions</p>
  </div>
    <div class="add-decision">
  <div class="decision">
    <% @decisions.reverse_each do |decision| %>
    <p><%= link_to decision.decision_name, decision_path(decision) %></p>
    <% end %>
    <%= link_to "Create new Decision", new_decision_path, class: 'btn btn-primary' %>
  </div>
  </div>
</div>
