<h1>Making good decisions in a timely manner</h1>
<%= link_to "Ask Tom!", decisions_path %>

<div class="step1">
<p>Step 1 
<br> Choices 
<br>What are you deciding between? </p>
</div>
<p>
<div class="step2">
Step 2
<br> Pros & Cons 
<br> What is positive & negative?
</p>
</div>

<div class="step3">
<p>
Step 3
<br>Affect Compare the choices.
</p>
</div>

<a href="#">Let’s Start!</a>
