<div class="welcome-block">
  <h1 class="welcome-text">Making good decisions in a timely manner</h1>
  <div class="ask-button">
    <%= link_to "Ask Tom!", decisions_path %>
  </div>
</div>

<div class="explanation-style">
  <div class="explanation">
    <div class="step1">
      <p class="steps">Step 1 
      <br> Choices </p>
      <p> What are you deciding between? </p>
      <br> 
      <br> 
    </div>

    <div class="step2">
      <p class="steps">Step 2
      <br> Pros & Cons</p>
      <p> What is positive & negative?
      </p>
      <br> 
      <br> 
    </div>

    <div class="step3">
      <p class="steps">Step 3
      <br>Affect </p>
      <p> Compare the choices.
      </p>
      <br> 
      <br> 
    </div>

    <div class="start-button">
    <%= link_to "Let’s Start!", decisions_path %>
      <%# <a href="#">Let’s Start!</a> %>
    </div>
  </div>
</div>