.form {
 background-color:rgb(78, 197, 244);
 box-sizing: border-box;
 border-color: black;
 padding-top: 150px;
 padding-bottom: 100px;
 margin : 80px auto;

}
.form-label{
  color: black;
  font-size: 24px;

}
